* {
    background:             #2d2424;
    background-alt:                 #483939; 
    border:                     #1a1e23;
    foreground:                 #d2daf4;
    accent:                     #a38a8a;

    text-color:                 @fg;
    javacafe-blue:              #74bee9;
}
