/**
* @name The Outer Worlds
* @version 1.0.2
* @description TOW Theme
* @author Andreyka Gamer
* @Discord Server Where u can contact me:https://discord.gg/JUN8cyBZNE
*/
@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
:root {
--background-image: url('https://i.yapx.ru/WC9Xa.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center center;
  --popout-modal-image: url('https://i.yapx.ru/WC9oX.png');
  --popout-modal-blur: 5px;
  --popout-modal-size: cover;
  --popout-modal-position: center center;
  --home-button-image: url('https://i.yapx.ru/WC9j7.png');
  --home-button-size: cover;
  --home-button-position: center center;
  --serverlist-brightness: 0.7;
  --left-brightness: 0.7;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --popout-modal-brightness: 0.7;
  --gradient-primary: 148,187,233,100;
  --gradient-secondary: 2,0,36,100;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --link-colour: #46c5ff;
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: 'Whitney';
  --window-padding: 5px;
  --window-roundness: 20px;
  --show-gift-gif-buttons: none;
  --update-notice-1: none;
  --HSL-server-icon-size: 42px;
  --HSL-server-spacing: 15px;
  --rs-small-spacing: 1px;
  --rs-large-spacing: 3px;
  --rs-width: 3px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
}